@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Earn passive income</h1>
    <h1>Diversify your investments</h1>
    <h1>Build equity</h1>
    <p class="lead">Buy rentail homes with tenants in them.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">See Our Properties&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Buy, own and sell</h2>
        <p>
            Access rental markets across the U.S. to find the right property for you.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make data-driven decisions</h2>
        <p>Evaluate listings with our tools, data &Aacute; analytics. All in one place.</p>
    </div>
    <div class="col-md-4">
        <h2>Transact 100% online</h2>
        <p>We make everything easy, including property management.</p>
    </div>
</div>

<div class="row">
    <h2>Browse our Properties</h2>
    <div class="col-md-3">.col-sm-4</div>
    <div class="col-md-3">.col-sm-4</div>
    <div class="col-md-3">.col-sm-4</div>
    <div class="col-md-3">.col-sm-4</div>
</div>